/* 1. Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 2. Page Layout - W04 Requirement */
body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

/* 3. Navigation - Flexbox */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0a4a6b;
    padding: 10px;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

/* 4. Headings */
h1 {
    color: darkblue;
    border-bottom: 2px solid #0a4a6b;
    padding-bottom: 10px;
}

p {
    margin: 1rem;
    padding: 10px;
}

/* 5. Grid Layout - W04 Requirement */
.grid {
    display: grid;
    align-items: center;
    grid-template-columns: 20rem 1fr;
}

main {
    grid-column: 2/3;
    margin: 1rem;
    max-width: 640px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

/* 6. Aside */
aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.2rem;
}

/* 7. Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid #000;
    text-align: center;
}